.navbar {
    background: #040a3c;
    position: relative;
    z-index: 1050; /* Keeps the navbar on top */
}

.gallery-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.gallery-item {
    width: 560px;
    height: 300px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    transform: scale(1);
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set text color for links */
    position: relative; /* Necessary for absolute positioning of children */
    cursor: pointer;
}

.gallery-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 1;
}

.text-overlay {
    font-size: 24px;
    text-align: center;
    z-index: 2; /* Make sure it's above the gradient overlay */
    position: absolute;
    width: 100%;
    bottom: 10px; /* Position it near the bottom of the image */
}

.gallery-item:hover {
    transform: scale(1.05);
    /* Optional: Adjust the hover effect for better focus, not altering the overlay */
}


@keyframes scaleUp {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.05);
    }
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    margin: .25rem;
}

::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: .635rem;
}

::selection {
    background-color: #000000;
}

:not(:root):fullscreen::backdrop {
    background: #00000050;
    backdrop-filter: blur(3px);
}

:root {
    --main-bg: #f0f1f5;
    --bg: #ffffff;
    --color: #333;
    --link: #3ea6ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #1F1F1F;
        --bg: #282828;
        --color: #f0f1f5;
    }
}

.gallery, .overlay img {
    user-select: none;
}

.gallery {
    opacity: 0;
    transition: opacity .25s linear .25s;
}

.gallery.uploaded {
    opacity: 1;
}

.gallery:hover .gallery__figure:not(:hover) {
    opacity: 0.3;
}

.gallery__figure {
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    animation: fade-in 1s;
    transition: opacity .3s;
}

.gallery__figure, .gallery__open img {
    border-radius: 5px;
}

.gallery__img {
    transition: all .3s;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    height: auto;
    max-width: 100%;
}

.gallery__img:hover {
    transform: scale(1.2);
}

.gallery.flex {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}

.gallery.grid {
    display: grid;
    gap: 1.5rem;
}

#categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 22px;
}

#categories label {
    cursor: pointer;
}

.overlay {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    z-index: 9999;
    opacity: 1;
    transition: opacity .5s;
    backdrop-filter: blur(3px);
}

.overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.overlay__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.overlay button {
    background: transparent;
    border: none;
    color: #fff;
    width: 3em;
    height: 3em;
}

.overlay button i {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.overlay :is(#next,#prev) {
    position: absolute;
    bottom: calc(50vh - 24px);
}

#next {
    right: 0;
}

#gallery__exitfullscreen {
    display: none;
}

.overlay .leyend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    text-align: center;
    color: #fff;
}

.gallery__open {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__open img {
    max-height: calc(100vh - 96px);
    max-width: 100%;
}

.gallery__open img:hover ~ figcaption {
    display: flex;
}

.overlay figcaption {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: #333;
    padding: 8px;
    border-radius: 5px;
    font-size: .8rem;
}

input[name="categories"] {
    display: none;
}

[value="all"]:checked ~ #gallery .gallery__figure[data-category] {
    display: block;
}

[value="FCSIT"]:checked ~ #gallery .gallery__figure:not([data-category~="FCSIT"]),
[value="FSTS"]:checked ~ #gallery .gallery__figure:not([data-category~="FSTS"]),
[value="FENG"]:checked ~ #gallery .gallery__figure:not([data-category~="FENG"]),
[value="FACA"]:checked ~ #gallery .gallery__figure:not([data-category~="FACA"]) {
    display: none;
}

[value="all"]:checked ~ .categories [for="all"],
[value="FCSIT"]:checked ~ .categories [for="FCSIT"],
[value="FSTS"]:checked ~ .categories [for="FSTS"],
[value="FENG"]:checked ~ .categories [for="FENG"],
[value="FACA"]:checked ~ .categories [for="FACA"] {
    color: #ffffff;
    background: #040a3c;
    padding: 0 10px;
}

[value="all"]:checked ~ #gallery .gallery__figure[data-category] {
    display: block;
}

[value="day_1"]:checked ~ #gallery .gallery__figure:not([data-category~="day_1"]),
[value="day_2"]:checked ~ #gallery .gallery__figure:not([data-category~="day_2"])
{
    display: none;
}

[value="all"]:checked ~ .categories [for="all"],
[value="day_1"]:checked ~ .categories [for="day_1"],
[value="day_2"]:checked ~ .categories [for="day_2"]{
    color: #ffffff;
    background: #040a3c;
    padding: 0 10px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gallery-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top:90px;
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .gallery-container {

    }
    .gallery-item {
    width: 400px;
    height: 200px;

    }



}

@media (max-width:1500px) {
    .gallery-item {
        width: 470px;
        height: 300px;
    }
}

@media (max-width: 1000px) {
    .gallery-item {
        width: 344px;
        height: 250px;
    }


}