.facebook-embed .fb-page {
    width: 100% !important;
}

.navbar{
    background: #040a3c;
}

.iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .iframe-container {
        padding-bottom: 100px;
    }

}



.title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.embed-container{
    margin-top: 100px;
}

iframe{
    width: 100% !important;
}